.contact-container{
    margin: 0 auto;
    .content-form{
    .submit-reset{
        margin-top: 10px;
    }
    }
    .content-information{
        .text{
            padding-top: 25px;
            font-size: 22px;
        }
        .text-6{
            line-height: 43px;
        }
    }  
}
.test{
    position: relative;
    width: fit-content;
}
.test::after{
    content:'';
    position: absolute;
    width: 0%;
    height: 2px;
    background: black;
    transition: all 1s;
    bottom: 0;
    left: 0;
}
.test:hover::after{
    width: 100%
}
