<div class="row contact-container container pt-5">
    <div class="col-6 content-form">
        <h2 class="test">CONTACT FORM</h2>
        <form action="#" method="get">
            <div class="mb-3">
            <label for="" class="form-label"></label>
                <input type="text" id="name" name="name" class="form-control" required placeholder="Name">
            <label for="" class="form-label"></label>
                <input  type="email" class="form-control" name="" id="" aria-describedby="emailHelpId" placeholder="Email">
                <small id="emailHelpId" class="form-text text-muted"></small>
            <label for="" class="form-label"></label>
                <input  type="password" class="form-control" name="" id="" placeholder="Password">
            <label for="" class="form-label"></label>
            <textarea class="form-control" name="" id="" rows="3" placeholder="Message"></textarea>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="">
                <label class="form-check-label" for="">
                  Agree
                </label>
            </div>
            <div class="submit-reset">
                <button type="submit" class="btn btn-primary ml-2">Submit</button>
                <button type="reset" class="btn btn-primary mx-2 ">Reset</button>
            </div>
        </form>
    </div>
    <div class="col-6 content-information">
        <h2 class="test">CONTACT INFORMATINON</h2>
        <div class="text">
            <div class="row">
                <div class="col-6 text-6">
                    <p><i class="fa-solid fa-circle-envelope"></i> heathycare@gmail.com</p>
                    <p><i class="fa-solid fa-circle-phone"></i> 01234456789</p>
                    <p><i class="fa-brands fa-facebook"></i> Heathycare/facebook.com</p>
                </div>
                <div class="col-6">
                    <iframe  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.096841491394!2d105.78049781492942!3d21.02881079315237!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab4cd0c66f05%3A0xea31563511af2e54!2zOCBUw7RuIFRo4bqldCBUaHV54bq_dCwgTeG7uSDEkMOsbmgsIEPhuqd1IEdp4bqleSwgSMOgIE7hu5lpLCBWaWV0bmFt!5e0!3m2!1sen!2s!4v1660118125943!5m2!1sen!2s" 
                    width="300" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            <p><i class="fa-solid fa-bell-exclamation"></i> Please send information, we will contact you as soon as possible.</p>
        </div>
    </div>
</div>


