<main class="appointments-container container pt-5">
    <div class="content-up">
        <div class="row">
            <img src="../../../assets/images/doctor/doctor-phamhuubinh.jpg" alt="" class="col-3">
            <div class="col-9 row">
                <h3>Associate Professor, PhD, Senior Lecturer Tran Huu Binh</h3>
                <span>
                  Doctor specializing in Psychiatry, Psychiatry
                </span>
                <span>
                  Former Director of the National Institute of Mental Health, Bach Mai Hospital
                </span>
                <span>
                  Former Vice Chairman of the Department of Psychiatry, Hanoi Medical University
                </span>
            </div>
        </div>
        <select class="mt-5" (change)="change($event.target)">
                <option value="0">Today: {{timeDay}}/{{timeMonth}}</option>
                <option value="1">Tomorrow: {{timeNextDay}}/{{timeMonth}}</option>
                <option value="2">After Tomorrow: {{timeAfterNextDay}}/{{timeMonth}}</option>
            </select>
        <div class="examination row">
            <div class="examination-time col-6 pt-3">
                <i class="fa-regular fa-calendar "></i>
                <b>&ensp;EXAMINATION SCHEDULES</b>
                <div class="choosing-time pt-3 row">
                    <!-- <div class="grid-time col-3" *ngFor="let time of schedules.today">
                        <a type="button " class="btn btn-warning m-1 "><b>{{time.time}}</b></a>
                    </div> -->
                    <div class="grid-time col-3" *ngFor="let time of arr">
                        <a type="button " class="btn btn-warning m-1 "><b>{{time.time}}</b></a>
                    </div>
                    <span><b>Select <i class="fa-regular fa-hand-back-point-up"></i> and book (Scheduling fee 0 VND)</b></span>
                </div>
            </div>
            <div class="col-6 address-clinics pt-3">
                <p class="text-muted">
                    ADDRESS OF EXAMINATION
                </p>
                <p><b>Yen Hoa Specialty Clinic</b></p>
                <p>No. 11 i4, alley 37 Tran Kim Xuyen, Yen Hoa New Urban Area, Yen Hoa, Cau Giay, Hanoi</p>
                <hr>
                <p><span class="text-muted">EXAMINATION PRICE:</span> 300,000 VND - 360,000 VND.</p>
            </div>
        </div>
    </div>
    <app-feedback></app-feedback>
</main>
