footer {
    overflow-x: hidden !important;
    width: 100% !important;
}

.footer-basic {
    background: #efefef;
    font-size: 15px;
}

.logo {
    width: auto;
    height: 70px;
}

.first {
    line-height: 2;
}

.center {
    line-height: 2;
    font-size: 20px;
    padding-left: 30px;
    a {
        text-decoration: none;
        color: #3498db;
    }
}

.last {
    padding-left: 0;
    line-height: 2;
    font-size: 20px;
}

.social-network {
    padding: 10px 0 0 50px;
    a {
        padding-left: 20px;
        i {
            font-size: 50px;
        }
    }
}

.copyright {
    text-align: center;
    height: 60px;
    font-size: 20px;
    opacity: 0.5;
    width: 100vw;
}
