a {
    text-decoration: none;
}

ul,
li {
    list-style: none;
}

.home-header-container {
    height: 70px;
    width: 100%;
    padding: 0 20px;
    .home-header-content {
        width: 100%;
        height: 100%;
        .center-content {
            .child-content {
                .sub-title {
                    font-size: 12px;
                    font-weight: 400;
                }
            }
        }
        .left-content {
            i {
                font-size: 20px;
                color: grey;
                cursor: pointer;
            }
            a {
                img {
                    height: 70px;
                    width: auto;
                    padding: 0 20px;
                }
            }
        }
        .right-content {
            i {
                color: rgb(59, 109, 245);
            }
            .support {
                padding-right: 5px;
            }
        }
    }
}
