<div class="login-background d-flex align-items-center" style="padding-top: 70px;">
    <div class="login-container">
        <div class="login-content row p-5">
            <div class="col-12 text-center mb-3">
                <h1> Login </h1>
            </div>
            <div class="col-12 form-group login-input">
                <label htmlFor=""> Username </label>
                <input type="text" class="form-control" placeholder="Enter your Username" />
            </div>
            <div class="col-12 form-group login-input">
                <label htmlFor=""> Password </label>
                <input type="password" class="form-control" placeholder="Enter your password" />
            </div>
            <div class="col-12 login-input">
                <button class="btn d-flex justify-content-center align-items-center">
                  Login
                </button>
            </div>
            <div class="col-12 login-input forgot-password">
                <a href=""> Forgot your password ? </a>
            </div>
            <div class="col-12">
                <h5 class="text-center"> Or Login with : </h5>
            </div>
            <div class="col-12 social-login">
                <a href="">
                    <i class="fa-brands fa-facebook"></i>
                </a>
                <a href="">
                    <i class="fa-brands fa-google-plus"></i>
                </a>
                <a href="">
                    <i class="fa-brands fa-twitter"></i>
                </a>
            </div>
        </div>
    </div>
</div>
